In [111]:
import time

import googlemaps
import numpy as np
import pandas as pd

### Get my locally saved API key for Google Maps

You will need to create one if you don't have one already

In [106]:
with open("/Users/d3y010/projects/gis/google_maps/google_maps_api") as get:
    api_key = get.read().strip()

### Stripped from Antonia's Google Sheet
Later we will bring this in from the raw data but I was on the hustle

In [110]:
# organizations
s = """Baylor University
Boise State University
Boston University
Colorado School of Mines
Columbia University
Iowa State University
Joint Global Change Research Institute
Lawrence Berkeley National Laboratory
Lehigh University
Los Alamos National Laboratory
Massachusetts Institute of Technology
NASA Goddard Institute for Space Studies
National Renewable Energy Laboratory - Golden Campus
Oak Ridge National Laboratory
Penn State University
Pacific Northwest National Laboratory
Purdue University
Sandia National Laboratories, 4100 National Parks Hwy, Carlsbad, NM 88220
Stanford University
Tufts University
University of California Irvine
University of Denver
University of Houston
University of Illinois
University of New Hampshire
University of Texas at Austin"""

locations = s.split('\n')

In [109]:
# number of particpants per organization
count = """1
3
2
1
1
1
8
3
1
1
7
1
5
3
6
26
4
2
1
1
1
1
1
1
1
1"""

ct_list = [int(i) for i in count.split('\n')]

In [70]:
# connect to the Google Maps client
gmaps = googlemaps.Client(key=api_key)

In [72]:
# create a dictionary of geocoded results to organization; we sleep to make it not time out from their server
d = {}

for i in locations:
    
    print(i)
    
    # Geocoding an address
    geocode_result = gmaps.geocode(i)
    
    d[i] = geocode_result
    
    time.sleep(2)

Baylor University
Boise State University
Boston University
Colorado School of Mines
Columbia University
Iowa State University
Joint Global Change Research Institute
Lawrence Berkeley National Laboratory
Lehigh University
Los Alamos National Laboratory
Massachusetts Institute of Technology
NASA Goddard Institute for Space Studies
National Renewable Energy Laboratory - Golden Campus
Oak Ridge National Laboratory
Penn State University
Pacific Northwest National Laboratory
Purdue University
Sandia National Laboratories, 4100 National Parks Hwy, Carlsbad, NM 88220
Stanford University
Tufts University
University of California Irvine
University of Denver
University of Houston
University of Illinois
University of New Hampshire
University of Texas at Austin

In [76]:
# extract the lat long stuff from the geocoded result into it's own dict
dx = {"site": [], "latitude": [], "longitude": [], "participants": ct_list}

for i in d.keys():
    
    print(i)
    
    dx["site"].append(i)

    try:
        latitude = d[i][0]["geometry"]["location"]["lat"]
        longitude = d[i][0]["geometry"]["location"]["lng"]

        dx["latitude"].append(latitude)
        dx["longitude"].append(longitude)
        
    except IndexError:
        print(d[i])

Baylor University
Boise State University
Boston University
Colorado School of Mines
Columbia University
Iowa State University
Joint Global Change Research Institute
Lawrence Berkeley National Laboratory
Lehigh University
Los Alamos National Laboratory
Massachusetts Institute of Technology
NASA Goddard Institute for Space Studies
National Renewable Energy Laboratory - Golden Campus
Oak Ridge National Laboratory
Penn State University
Pacific Northwest National Laboratory
Purdue University
Sandia National Laboratories, 4100 National Parks Hwy, Carlsbad, NM 88220
Stanford University
Tufts University
University of California Irvine
University of Denver
University of Houston
University of Illinois
University of New Hampshire
University of Texas at Austin

In [77]:
# to a data frame and then save it locally
df = pd.DataFrame(dx)

df.to_csv('/Users/d3y010/Desktop/cop.csv', index=False)

In [78]:
df

,site,latitude,longitude,participants
0,Baylor University,31.550085,-97.113540,1
1,Boise State University,43.602876,-116.199872,3
2,Boston University,42.360082,-71.058880,2
3,Colorado School of Mines,39.751047,-105.222571,1
4,Columbia University,40.807536,-73.962573,1
5,Iowa State University,42.026657,-93.646452,1
6,Joint Global Change Research Institute,38.971106,-76.921785,8
7,Lawrence Berkeley National Laboratory,37.875902,-122.250055,3
8,Lehigh University,40.604869,-75.377519,1
9,Los Alamos National Laboratory,35.844058,-106.287162,1
10,Massachusetts Institute of Technology,42.360091,-71.094160,7
11,NASA Goddard Institute for Space Studies,38.994950,-76.852344,1
12,National Renewable Energy Laboratory - Golden ...,39.740726,-105.168615,5
13,Oak Ridge National Laboratory,35.931100,-84.309978,3
14,Penn State University,40.798213,-77.859908,6
15,Pacific Northwest National Laboratory,46.345140,-119.279230,26
16,Purdue University,40.423705,-86.921195,4
17,"Sandia National Laboratories, 4100 National Pa...",32.370067,-104.231918,2
18,Stanford University,37.427475,-122.169719,1
19,Tufts University,42.408537,-71.118273,1
20,University of California Irvine,33.640495,-117.844296,1
21,University of Denver,39.676617,-104.961896,1
22,University of Houston,29.719949,-95.342233,1
23,University of Illinois,40.101952,-88.227161,1
24,University of New Hampshire,43.138948,-70.937025,1
25,University of Texas at Austin,30.284918,-97.734057,1

### Just fooling about here, fudging some fake interactions between orgs

In [112]:
d_orgs = {}

choices = [1, 2, 3, 7]

orgs = df.site.values

n_orgs = orgs.shape[0]

for i in orgs:
    
    # get a random selection for the number of connections for testing
    n_choices = np.random.choice(choices)
    
    d_orgs[i] = []
    
    while n_choices > 0:

        selection = np.random.choice(orgs)

        if selection not in d_orgs[i]:
            d_orgs[i].append(selection)
            n_choices -= 1
        
    
x_dict = {"origin": [], "destination": []}

for i in d_orgs.keys():
    
    for j in d_orgs[i]:
        
        x_dict["origin"].append(i)
        x_dict["destination"].append(j)
        
xdf = pd.DataFrame(x_dict)

xdf.to_csv('/Users/d3y010/Desktop/cop_collab.csv', index=False)

xdf

,origin,destination
0,Baylor University,Massachusetts Institute of Technology
1,Baylor University,National Renewable Energy Laboratory - Golden ...
2,Boise State University,Baylor University
3,Boise State University,Lawrence Berkeley National Laboratory
4,Boston University,University of Illinois
...,...,...
85,University of Illinois,Penn State University
86,University of New Hampshire,"Sandia National Laboratories, 4100 National Pa..."
87,University of New Hampshire,Purdue University
88,University of Texas at Austin,University of Texas at Austin
89,University of Texas at Austin,University of New Hampshire

In [102]:
xdf.to_csv('/Users/d3y010/Desktop/cop_collab.csv', index=False)